@model IEnumerable<BookModelView>
@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
    <tr>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Price</td>
        </tr>
    }
    </tbody>
</table>
